<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quickblox.ui.kit.chatmessage.adapter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.quickblox.ui.kit.chatmessage.adapter.media.video.thumbnails.VideoThumbnailModule"
            android:value="GlideModule" />
    </application>

</manifest>
